.navbar{
    height: 70px !important;
    background-color: rgb(41, 180, 41);
   display: flex !important;
   align-items: center !important;
   color: #e3dede;
}
.navbarContainerPar{
    background-color: rgb(41, 180, 41);
}
.wrapperInfo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.wrapperInfo li{
    list-style: none;
   font-size: 14px;
}

.storeName{
    border: 1px solid black;
}
.storeName h3{
    font-weight: 500;
    letter-spacing: 1px;
   
}
.categoryInfo ul{
   font-size: 14px;
   display: flex;
   gap: 20px;
   justify-content: flex-end;
}
.categoryInfo ul li{
    list-style: none;
}
.cardIcon{
    display: flex;
    justify-content: flex-end;
}
.categoryItem{
    cursor: pointer;
}
.active{
    color: blue;
}
 /* Drawer CSS */
 .drawerModal{
    padding: 0 !important;
 }
 .orderContainer{
    display: flex;
   
    
   
 }
 .descWrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
 }
 .css-1p823my-MuiListItem-root{
    border-bottom: 1px solid rgb(226, 219, 219);
    
 }
 
 .orderContainer2{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;

 }
 .categoryPrice{
    font-size: 12px;
 }
 .orderImage{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
 }
 .orderImage img{
    width: 100%;
    height: auto;
 }
 .addAndRemoveWrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(125, 124, 124);
 }
.orderButtons{
    border-radius: 50%;
    padding: 0;
    border: 1px solid rgb(85, 83, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(125, 124, 124);
}
.dltButton{
    background-color: transparent;
    border: none;
    outline: none;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkoutBtn{
    display: flex;
    justify-content: center;
    background-color: rgb(41, 180, 41) !important;
    width: 100%;
    margin: 10px 0 !important;
    color: #fff !important;
}
.noItemPar{
    width: 300px;
}
.menuChangingIcon{
    display: none !important;
}
@media (max-width: 585px) {
    .menuChangingIcon{
        display: flex !important;
    }
    .navbar{
        position: relative;
        z-index: 999;
    }
    .storeNameLink{
        display: none;
    }
    .categoryInfo ul{
        display: none;
        position: absolute;
       
        width: 100%;
        left: 0;
        background-color: rgb(41, 180, 41) !important;
    }
    .categoryInfo ul.active {
        display: block; /* Displayed when active */
        color: #fff;
    }
    .categoryList li{
        padding: 10px 15px;
    }
    .categoryList li:focus{
        background-color: aquamarine !important;
    }
  }
