.cardsContainer{
    margin-top: 20px;
    position: relative;
}
.ant-card-body{
    padding: 15px 5px !important;
    display: flex;
    flex-direction: column;
    gap: 7px;
   
}
.addCartBtn{
    background-color:  rgb(41, 180, 41) !important;
    color: #e3dede !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.viewDetailsBtn{
    color: grey !important;
    font-weight: 300 !important;
    border: 1px solid grey !important;
}
.singleCard{
    margin-top: 20px !important;
}
.cardItem{
    box-shadow: 3px 9px 10px -7px rgba(50, 43, 43, 0.18);
}
.cardItem p{
    margin-left: 7px;
}
.loader{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalWrapper2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.itemName{
    border-radius: 25px !important;
    color: rgb(53, 52, 52) !important;
    font-size: 14px !important;
    background-color: #e3dede !important;
    font-weight: normal !important;
    margin: 5px 10px !important;
    text-transform: lowercase !important;
    padding: 0 !important;
    padding: 3px 5px !important;
}
.firstmodal{
    font-size: 22px;
}
.modalInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.modalWrapper1{
    width: 300px;
    height: 100%;
}
.productImageS{
    width: 100%;
    object-fit: cover;
}
.secondModalP{
    font-size: 12px;
    color: rgb(50, 48, 48);
}